#learn-more-link {
	color: $link-color;
	text-decoration: none;
	transition: .3s;
}

#learn-more-link:hover {
	text-decoration: underline;
	color: lighten($link-color, 8);
}

.citizens-advantage-hr {
	border: none;
	color: #c2c2c2;
	background-color: #c2c2c2;
	height: 1.25px;
	margin: 1.5em 0;
}
