#citizens-advantage-main-container{
	display: grid;

	@media screen and (min-width: 768px) {
		grid-template-columns: 50% 50%;
	}
}

.citizens-advantage-individual-container{
	.vertical-line{
		display: none;
	}
	@media screen and (min-width: 768px) {
		position: relative;

		.vertical-line{
			position: absolute;
			right: 0;
			top: 20%;
			display: block;
			border-right: 1px solid black;
			height: 130px;
		}
	}
}

.citizens-advantage-individual-container:nth-child(odd){
	@media screen and (min-width: 768px) {
		margin-right: .5em;
	}
}

.citizens-advantage-individual-container:nth-child(even){
	@media screen and (min-width: 768px) {
		margin-left: .8em;
	}
}

.citizens-advantage-individual-container:nth-last-of-type(-n+2){
	@media screen and (min-width: 768px) {
		margin-top: 4em;
	}
}

#learn-more-link {
	color: $link-color;
	text-decoration: none;
	transition: .3s;
}

#learn-more-link:hover {
	text-decoration: underline;
	color: lighten($link-color, 8);
}

.citizens-advantage-hr {
	border: none;
	color: #c2c2c2;
	background-color: #c2c2c2;
	height: 1.25px;
	margin: 1em 0;

	@media screen and (min-width: 768px) {
		display: none;
	}
}
