#home-loan-title-container{
    background-color: $primary-green;
    margin-bottom: 0;
}

#home-loan-title{
    color: #fff;
    text-align: center;
    padding: 1em 0;
    margin-bottom: 0;
}

#home-loan-summary-container{
    margin-top: 0;
    background-color: $home-loan-background;
    padding: 1em;
}