.view-careers-btn {
	color: #fff;
	background-color: $button-color;
	font-size: 20px;
	border: none;
	padding: 10px 20px;
	margin: 1em;
	transition: .3s;
	cursor: pointer;
}

.view-careers-btn:hover {
	background-color: darken($button-color, 5);
}
